---
import Root from "$/layouts/minimal.astro";
import { format } from "$/lib/date";
import { GithubIcon, MailOpenIcon, TwitterIcon } from "@lucide/svelte";

import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Root title="Writing">
  <div
    class="rounded-t-2xl bg-white/5 border-[0.5px] border-white/13 border-b-0 backdrop-blur-xl"
  >
    {
      posts.map((post) => (
        <a
          href={`/writing/${post.data.date.getFullYear()}/${post.id}/`}
          class="flex items-baseline justify-between px-7 py-5 border-b border-white/[0.07] cursor-pointer hover:bg-white/2"
        >
          <div class="flex flex-col gap-1.5">
            <span class="yap:h3 mt-4!  text-mauve-100">{post.data.title}</span>
            <span class="text-sm text-mauve-400">{post.data.description}</span>
          </div>
          <span class="font-mono text-xs text-mauve-400 whitespace-nowrap">
            {format(post.data.date)}
          </span>
        </a>
      ))
    }

    <div class="flex items-center justify-between px-7 py-5">
      <span class="font-mono-custom text-[12px] text-mauve-400"
        >jacob@jafupy.com</span
      >
      <div class="flex gap-4">
        <span
          class="font-mono-custom text-[11px] text-mauve-400 cursor-pointer hover:text-mauve-100"
          >github ↗</span
        >
        <span
          class="font-mono-custom text-[11px] text-mauve-400 cursor-pointer hover:text-mauve-100"
          >rss ↗</span
        >
      </div>
    </div>
  </div>
</Root>
